spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: true
    open-in-view: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug
    com.company.techblog: debug

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
